body {
    margin: 20px auto;
    width: 400px;
  }
  
  h3 {
    margin: 0;
    padding-bottom: 1em;
    padding-right: 20px;
    font-size: 1em;
  }
  

  .message{
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #b5e66c;
    position: relative;
  }
  
  .remove-button {
    position: absolute;
    font-size: 110%;
    top: 0;
    color: darkred;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
  }